* {
    margin: 0;
    padding: 0;
    border: 0;
    /*background: #F7F6FF;;*/
}
header {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 85px;
}
.roditel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    /*vertical-align:middle;*/
    /*text-align: initial;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*margin: 0;*/
    padding: 8px 0 7px 103px;
    /*background: slategrey;*/
}
.menu {
    /*display: flex;*/
    /*flex-direction: row;*/
    padding: 0 0 0 108px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    color: #333333;
}
.menu a{
    text-decoration: none;
    margin: 0 1rem 0 1rem;
    color: #333333;
    font-family: 'Manrope';
}
.button1 button {
    position: absolute;
    width: 205px;
    height: 54px;
    left: 1080px;
    top: 15px;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(150.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
}
.block1text1 {
    position: absolute;
    width: 543px;
    height: 122px;
    left: 103px;
    top: 179px;
    /*font-family: 'Manrope';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    font-size: 55px;
    line-height: 60px;
    /*or 109%*/
    /*text-transform: uppercase;*/
}
.block1text2 {
    position: absolute;
    width: 515px;
    height: 78px;
    left: 103px;
    top: 321px;
    /*font-family: 'Manrope';*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 162% */
    color: #333333;
}
.block1telefon {
    position: absolute;
    left: 848px;
    right: 134px;
    top: 161px;
    bottom: 2.57%;
}
.button2 button{
    position: absolute;
    width: 241px;
    height: 54px;
    left: 103px;
    top: 427px;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(150.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);
    color: #FFFFFF;
    /*font-family: 'Manrope';*/
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
}
.button3 {
    position: absolute;
    width: 114px;
    height: 54px;
    left: 354px;
    top: 427px;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(150.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);
    color: #FFFFFF;
    /*font-family: 'Manrope';*/
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button3 a {
    text-decoration: none;
    color: #FFFFFF;
    /*font-family: 'Manrope';*/
}
.button4 {
    position: absolute;
    width: 141px;
    height: 54px;
    left: 477px;
    top: 427px;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(150.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);
    color: #FFFFFF;
    /*font-family: 'Manrope';*/
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button4 a {
    text-decoration: none;
    color: #FFFFFF;
    /*font-family: 'Manrope';*/
}
.block2text1 {
    position: absolute;
    width: 544px;
    height: 48px;
    left: 170px;
    top: 622px;
    /*font-family: 'Manrope';*/
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-transform: uppercase;
    color: #333333;
}
.block2text2 p {
    position: absolute;
    width: 117px;
    height: 48px;
    left: 168px;
    top: 705px;
    /*font-family: 'Manrope';*/
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 48px;
    background: linear-gradient(150.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}